
<AuthorizeView>
    <Authorized>
        <div class="fixed-bottom px-2 mx-1">
            <nav class="d-flex justify-content-around align-items-center text-capitalize py-2 pt-3 menu-list rounded-pill shadow-lg bg-white">
                <NavLink href="" Match="NavLinkMatch.All" class="d-flex flex-column align-items-center text-decoration-none menu-item">
                    <span>
                        <img height="27" width="27" src="icons/house-door.svg" alt="Home Icon" />
                    </span>
                    <span class="menu-item-text fw-light">home</span>
                </NavLink>
                <NavLink href="profile" class="d-flex flex-column align-items-center text-decoration-none menu-item">
                    <span>
                        <img height="27" width="27" src="icons/person.svg" alt="Profile Icon" />
                    </span>
                    <span class="menu-item-text fw-light">you</span>
                </NavLink>
                <NavLink href="carts" class="d-flex flex-column align-items-center text-decoration-none menu-item">
                    <span>
                        <img class="pb-1" height="27" width="27" src="icons/cart.svg" alt="Cart Icon" />
                    </span>
                    <span class="menu-item-text fw-light">carts</span>
                </NavLink>
                <NavLink href="orders" class="d-flex flex-column align-items-center  text-decoration-none menu-item">
                    <span>
                        <img height="27" width="27" src="icons/list.svg" alt="Menu Icon" />
                    </span>
                    <span class="menu-item-text fw-light">menu</span>
                </NavLink>
            </nav>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="auth-nav shadow d-flex flex-column">
            <div class="d-flex justify-content-center align-items-center p-5" style="height:250px;">
                <img height="275" width="275" src="assets/image.svg"/>
            </div>
            <div class="text-capitalize d-flex flex-row justify-content-evenly align-content-center fs-5 py-2">
                <NavLink href="/signup" class="auth-item text-decoration-none text-dark">
                        signup
                </NavLink>
                <NavLink href="/login" class="auth-item text-decoration-none text-dark">
                        Login
                </NavLink>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>